@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
  margin: 0;
  padding: 0;
  font-family: "poppins" , system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
}

.card {
  border: 3px solid black;
  padding: 3rem;
  width: 300px;
  /* margin: 10% auto; */
  translate: -6px -6px;
  box-shadow: 10px 10px 0 gray;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  translate: -6px;
}

.card input,
.card textarea,
.card button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid lightseagreen;
  font-size: 1rem;
}

.card button {
  width: 107%;
}

.card label {
  font-size: larger;
  font-weight: 550;
}

section.card {
  margin: 10% auto;
  background: #ffc0cb;
}